﻿@model Mvc.Models.mvcStaffModel
@{
    ViewBag.Title = "AddorEdit";
}

<div class="form-body">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.name)
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.surname)
            @Html.EditorFor(model => model.surname)
            @Html.ValidationMessageFor(model => model.surname)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.patronymic)
            @Html.EditorFor(model => model.patronymic)
            @Html.ValidationMessageFor(model => model.patronymic)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.passport_series)
            @Html.EditorFor(model => model.passport_series)
            @Html.ValidationMessageFor(model => model.passport_series)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.passport_number)
            @Html.EditorFor(model => model.passport_number)
            @Html.ValidationMessageFor(model => model.passport_number)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.phone)
            @Html.EditorFor(model => model.phone)
            @Html.ValidationMessageFor(model => model.phone)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.post_id)
            @Html.EditorFor(model => model.post_id)
            @Html.ValidationMessageFor(model => model.post_id)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.otdel_id)
            @Html.EditorFor(model => model.otdel_id)
            @Html.ValidationMessageFor(model => model.otdel_id)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.address)
            @Html.EditorFor(model => model.address)
            @Html.ValidationMessageFor(model => model.address)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.bitthday)
            @Html.EditorFor(model => model.bitthday)
            @Html.ValidationMessageFor(model => model.bitthday)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.login)
            @Html.EditorFor(model => model.login)
            @Html.ValidationMessageFor(model => model.login)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.password)
            @Html.EditorFor(model => model.password)
            @Html.ValidationMessageFor(model => model.password)
        </div>

        <div class="form-group">
            <input type="submit" value="Enter" class="btn button" />
            <input type="reset" value="Reset" class="btn button" />
        </div>
    }
</div>


@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
} 

