﻿@model IEnumerable<Mvc.Models.mvcStaffModel>

@{
    ViewBag.Title = "Index";
}

<br/>

<p>
    <a href="@Url.Action("AddorEdit","Staff")" class="btn btn-default"><i class="fade fa-plus"></i>Create new</a>
</p>
<table class="table table-striped">
    <thead class="table-heading">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.patronymic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.passport_series)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.passport_number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bitthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.post_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.otdel_id)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.password)
            </th>*@
            <th>Actions</th>
        </tr>
    </thead>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.patronymic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.passport_series)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.passport_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bitthday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.post_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.otdel_id)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.id }) |*@
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
